 <!-- form handling -->
 <form action="/api/accounts" method="POST" id="add_account">
    <div class="new_account">
        <div class="form-group">
            <label for="account" class="text-light">Account</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="account" value="" placeholder="nhatphong9715@gmail.com">
        </div>
        <div class="form-group">
            <label for="password" class="text-light">Password</label>
            <input type="text" name="password" value="" placeholder="********">
        </div>
        <div class="form-group">
        <label for="type" class="text-light">Type</label>
        <select name="type" id="type_account">
            <option value="Gmail">Gmail</option>
            <option value="Facebook">Facebook</option>
            <option value="Github">Github</option>
            <option value="Twitter">Twitter</option>
            <option value="Discord">Discord</option>
          </select>
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>